<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Lockscreen</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/ecommerce/res/admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/vendor/animate/animate.css">
  <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/vendor/select2/select2.min.css">
  <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="/ecommerce/res/admin/css/main.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="limiter">
		<div class="container-login100" style="background-image: url('/ecommerce/res/admin/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Esqueci-me da password
				</span>
				<form action="/ecommerce/index.php/admin/forgot" method="post" class="login100-form validate-form p-b-33 p-t-5">
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="email" placeholder="Digite o e-mail" name="email">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
     
            <div class="container-login100-form-btn m-t-32" >
              <button class="btn btn-outline-dark btn-lg"><i class="fa fa-arrow-right text-muted"></i>
              </button>
            </div>
					</div>
          <div class="help-block text-center" style="color: rgb(0, 0, 0);">
            Digite seu e-mail e receba as instruções para redefinir a sua senha.
          </div>
          <div class="text-center">
            <a href="/ecommerce/index.php/admin/login">Or sign in as a different user</a>
          </div>
				</form>
        
			</div>
		</div>
	</div>

<!--===============================================================================================-->
<script src="/ecommerce/res/admin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/ecommerce/res/admin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/ecommerce/res/admin/vendor/bootstrap/js/popper.js"></script>
	<script src="/ecommerce/res/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/ecommerce/res/admin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/ecommerce/res/admin/vendor/daterangepicker/moment.min.js"></script>
	<script src="/ecommerce/res/admin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/ecommerce/res/admin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/ecommerce/res/admin/js/main.js"></script>
</body>
</html>
