<div id="main" >
		<div class="container">
			<h1 style="text-align: center;"><span style="color: white"> <strong>- 4PL -</strong></span></h1>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<image src="/ecommerce/res/site/img/Logistics_trafico.jpeg"></image>
				</div>
				<div class="col-md-6 col-xs-12" style="background-color:#363636; color: white; padding: 50px; ">
	
					<h2>Há clientes que preferem não ter de pensar na gestão da cadeia de abastecimento.</h2>

				</div>
			</div>
				
				
		</div>

</div>
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">

	<div class="row"> 
		<div class="col-md-12 col-xs-12" style="background-color:white; color: #363636; padding-bottom: 50px; margin-left: 80px; ">
			<p style="margin-left: 200px ;">Na TW Logistics assumimos toda a operação logística do nosso cliente, incluindo o desenvolvimento estratégico, através do serviço 4PL (Fourth Party Logistics).<br>

				Tornamo-nos no seu departamento de logística e coordenamos os processos, com actividades de aprovisionamento de matéria-prima, gestão dos indicadores e relações com os clientes.<br>
				
				Em suma, somos uma opção perfeita para as empresas que querem concentrar-se no desenvolvimento e produção da sua mercadoria, e delegar a gestão do aprovisionamento e da distribuição.</p>

				<p></p>
				<h4>Vantagens de contar connosco.</h4>
				<p></p>
				<p style="margin-left: 200px ;">-	Colocamos ao seu dispor a nossa infra-estrutura de pessoal e tecnológica, evitando que tenha de assumir esse custo exclusivamente, conseguindo que os processos sejam mais eficientes.<br><br>
					-	Proporcionamos um alto nível de serviço devido ao nosso conhecimento especializado e experiência acumulada por sectores.</p>
		</div>
	</div>

	
</div>