<div id="main" >
	<div class="container" >
		<h1 style="text-align: center;"><span style="color: white"> <strong>- Basculantes e pisos móveis -</strong></span></h1>
			<div class="col-md-12 col-xs-12">
				<image src="/ecommerce/res/site/img/historia-tw-group-1.jpeg"></image>
			</div>
			
	</div>
</div>
	<div class="container" style="margin-top: 30px; margin-bottom: 30px;">

		<div class="row"> 
			<div class="col-md-12 col-xs-12" style="background-color:white; color: #363636; ">
				<p style="margin-left: 200px ; text-align: justify;">Na TW Logistics contamos com uma frota de semi-reboques basculantes, adaptados para transporte de material a granel e material siderúrgico. Com portas traseiras e laterais, flexibilizam a carga e a descarga e incluem fossa porta-bobinas.
					<br>
					<br>
					Também dispomos de veículos walking floor ou pisos móveis:</p>
					<p style="margin-left: 220px ; text-align: justify;">-	Transporte de matérias a granel de grande volume.<br>
					-	Transporte de matérias sólidas pó, palete, embalagem ou bobinas.<br>
					-	Facilidade de carga e descarga em qualquer local, incluindo zonas ou terrenos difíceis ou espaços reduzidos.<br>
					-	Possibilidade de ajuste de velocidade, para a separação de diferentes tipos de resíduos.</p>
				</div>
		</div>
	</div>



