<div class="product-big-title-area" id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Carrinho de Compras</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce">

                        <form action="/checkout">
                            {if="$error != ''"}
                            <div class="alert alert-danger" role="alert">
                                {$error}
                            </div>
                            {/if}

                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Produto</th>
                                        <th class="product-price">Preço</th>
                                        <th class="product-quantity">Quantidade</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$products"}
                                    <tr class="cart_item">
                                        <td class="product-remove">
                                            <a title="Remove this item" class="remove" href="/ecommerce/index.php/cart/{$value.idproduct}/remove">X</a> 
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="/ecommerce/index.php/products/{$value.desurl}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{$value.desphoto}"></a>
                                        </td>

                                        <td class="product-name">
                                            <a href="/ecommerce/index.php/products/{$value.desurl}">{$value.desproduct}</a> 
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">{function="formatPrice($value.vlprice)"}€</span> 
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus" value="-" onclick="window.location.href = '/ecommerce/index.php/cart/{$value.idproduct}/minus'">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="{$value.nrqtd}" min="0" step="1">
                                                <input type="button" class="plus" value="+" onclick="window.location.href = '/ecommerce/index.php/cart/{$value.idproduct}/add'">
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">{function="formatPrice($value.vltotal)"}€</span> 
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>

                            <div class="cart-collaterals">

                                <div class="cross-sells">

                                    <h5>Será contactado via email, para ser feita a marcação da reunião para a devida negociação. </h2>
                                </div>

                                <div class="cart_totals ">

                                    <h2>Resumo da Compra</h2>

                                    <table cellspacing="0">
                                        <tbody>
                                            <tr class="cart-total">
                                                <th>Total</th>
                                                <td><span class="amount">{function="formatPrice($cart.vltotal)"}€</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="pull-right">
                                <input type="submit" value="Finalizar Compra" name="proceed" class="checkout-button button alt wc-forward">
                            </div>

                        </form>

                    </div>                        
                </div>                    
            </div>
        </div>
    </div>
</div>