<div class="product-big-title-area" id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{$category.descategory}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="container">
        <div class="row">
            {loop="$products"}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product text-center thumbnail tt">
                    <div class="product-upper ">
                        <a href="/ecommerce/index.php/products/{$value.desurl}" style="text-decoration: none" >
                            <img class="image"src="{$value.desphoto}" alt="" height="2000px" width="auto">
                                <h3>{$value.desproduct}</h3>
                        </a>
                    </div>
                    
                    <div class="product-carousel-price">
                        <ins>{function="formatPrice($value.vlprice)"}€</ins>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/ecommerce/index.php/cart/{$value.idproduct}/add">Comprar</a>
                    </div>                       
                </div>
            </div>
            {/loop}
            
          
        </div>
    </div>
</div>