<div class="product-big-title-area" id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Esqueceu-se da Password?</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Password Alterada!</h4>
                    <p>Tente fazer o login com a sua nova password.<br><a href="/ecommerce/index.php/login">Clique aqui</a> para fazer o login.</p>
                </div>                  
            </div>
        </div>
    </div>
</div>