<div id="main" >
	<div class="container" style="padding-top: 150px;">
		<h1 style="text-align: center;"><span style="color: white"> <strong>- História -</strong></span></h1>
			<div class="col-md-12 col-xs-12">
				<image src="/ecommerce/res/site/img/historia-tw-group.jpeg"></image>
			</div>
			
	</div>
</div>
	<div class="container" style="margin-top: 30px; margin-bottom: 30px;">

		<div class="row"> 
			<div class="col-md-12 col-xs-12" style="background-color:white; color: #363636; ">
				<h1>Com o olhar no futuro</h1>
				<p>A Truck and Wheel foi criada em 1998 por um conjunto de profissionais com anos de experiência neste setor da logística, propondo um serviço mais personalizado do que a concorrência e de igual nível de qualidade em termos de transporte, armazenagem e distribuição de mercadoria. Desde esse ponto, a empresa tem tido um crescimento grande onde nos primeiros anos foi consolidada uma rede ampla de logística e distribuição nos principais pontos de Espanha e que mais tarde foi se expandir para outros países, abrindo diversas unidades em Portugal, França e Alemanha.</p>
				<p>Atualmente a empresa tem 35 unidades/filiais colocadas em pontos estratégicos com o objetivo de chegar a todos os pontos da Europa (em Portugal existem 2 filiais sendo uma no Norte e outra no centro). Esta ampla rede de logística, a constante inovação tecnológica e a vasta experiência no setor é o que permite à empresa prestar um excelente serviço ao cliente e a posiciona como uma referência nestes dois setores.</p>
				<p>Em 2015 a empresa apostou num novo setor, criando a divisão TW Automotive, que se junta à divisão TW Logistics que mantém o legado do grupo. A nova divisão está em expansão, contando em 2020 com 5 unidades de produção no México, EUA e Alemanha. Neste momento, mais de 2.000 pessoas continuam a dar vida a esta história.</p>
			</div>
		</div>
	</div>



