<div id="main" >
	<div class="container" >
		<h1 style="text-align: center;"><span style="color: white"> <strong>- Distribuição à Palete -</strong></span></h1>
			<div class="col-md-12 col-xs-12">
				<image src="/ecommerce/res/site/img/paleteriatw.jpeg"></image>
			</div>
			
	</div>
</div>
	<div class="container" style="margin-top: 30px; margin-bottom: 30px;">

		<div class="row"> 
			<div class="col-md-12 col-xs-12" style="background-color:white; color: #363636; ">
				<p style="margin-left: 200px ; text-align: justify;">As nossas operações à escala europeia prestam serviços de consolidação e grupagem a todos os nossos clientes.
					<br>
					<br>
					A nossa vasta rede de delegações permite-nos adquirir o compromisso de que a mercadoria seja entregue no horário e local acordados.
					<br>
					<br>
					Propomos um avançado sistema de rastreabilidade que permite o rastreio da mercadoria a qualquer momento. Os nossos procedimentos de segurança padronizados garantem que o envio é recebido com o mais alto grau de protecção.</p>
			</div>
		</div>
	</div>



