<div class="single-product-area" id="main">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h1>Pedido N°{$order.idorder}</h1>


            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Pedido Processado!</h4>
                    <p>Em um prazo de até 24 horas receberá um e-mail com todas as instruções e informações para a marcação da reunião.</p>
                </div>                  
            </div>
        </div>
    </div>
</div>