<div id="main" >
	<div class="container">
		<h1 style="text-align: center;"><span style="color: white"> <strong>- Warehousing -</strong></span></h1>
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<image src="/ecommerce/res/site/img/warehousingtw.jpeg"></image>
			</div>
			<div class="col-md-7 col-xs-12" style="background-color:#363636; color: white; padding: 50px; ">

				<h2>Propomos a melhor solução logística sempre. Independentemente do tamanho da empresa.</h2>

			</div>
		</div>
			
			
	</div>

</div>
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">

<div class="row"> 
	<div class="col-md-12 col-xs-12" style="background-color:white; color: #363636; padding-bottom: 50px; margin-left: 80px; ">
		<p style="margin-left: 200px ;">Na TW Logistics somos especialistas em armazenamento e gestão de stocks. Contamos com mais de 400.000 m2 de espaço distribuídos pelos principais pontos de Espanha, França e Portugal.<br>
			<br>
			A divisão de armazenamento ou warehousing permite-nos propor soluções independentemente do tamanho da empresa dos nossos clientes, das suas necessidades, produtos, processo de embalagem ou características específicas.<br>
			<br>
			Podemos gerir a própria plataforma do cliente, facilitando a externalização das principais actividades da empresa. Contribuímos com o nosso know-how em logística, custos de gestão e pessoal especializado.<br>
			<br>
			As nossas instalações contam com os mais avançados sistemas de segurança, que conseguem que o cliente tome maior consciência operacional nos processos.<br>
			<br>
			A gestão automatizada dos nossos armazéns e o controlo organizado da localização dos volumes permite-nos fiabilizar o nosso stock, bem como os prazos de entrega, eliminando as ocorrências e melhorando o nosso serviço.</p>
	</div>
</div>


</div>