/* Style.css */
* { margin:0; padding: 0; }
nav { min-height: 90px; margin-bottom: 0 !important;  }


body{background-color:#A9A9A9 ;}

#main { padding: 120px 0px 20px 0px; background: linear-gradient(#FA8072 , 	#FF0000);}
#main img  { max-height: 597px; }

#main2 { padding: 150px 0px 50px 0px; background-color:#A9A9A9 ; }

#logo { margin:10px 0; 
height: 64px;
}
#logo2 { height: 100px; }
#quemsomos { margin: 50px 0;}
#sobre {margin: 50px 0;  }
#sobre p { text-align: justify; color:black; font-size: 18px; line-height: 1.8; padding-top:20px;}
#contacto { margin: 50px 0;}
#ola {margin: 50px 0;  }


#apresentacao { background-color: #363636;}

#imagens {height: 215px;}

.link_menu { margin-top:20px; }
.link_menu a{ color:red !important; padding:10px;  }
.link_menu a:hover{color:white !important; }
#text{ color:red !important; padding:10px;  }
#text:hover{color:white !important; }
.center { text-align: center }